[flake8]
max-line-length = 120
exclude =
    backend/venv,
    backend/__pycache__,
    backend/tests/,
    backend/database/setup_db.py
extend-ignore =
    E302, E303, E305, E402, E203,
    W291, W293, W292,
    E128, E265, E114, E116,
    F811, E251, E225,
    F401